@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--color-white-100);
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--color-black-900);
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
}